TrainingCourse/Activity_6.json
{
  "name": "Activity_6",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1_cGgBgVxLG5g4Egpl-UGXrGa6rvLeF6S",
          "mode": "list",
          "cachedResultName": "Meeting Notes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_cGgBgVxLG5g4Egpl-UGXrGa6rvLeF6S"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -120
      ],
      "id": "61901f50-20e3-4c0e-a2c0-e333c33d9a3a",
      "name": "Google Drive File Created",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cohwIhqqdFSbrctz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1_cGgBgVxLG5g4Egpl-UGXrGa6rvLeF6S",
          "mode": "list",
          "cachedResultName": "Meeting Notes",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1_cGgBgVxLG5g4Egpl-UGXrGa6rvLeF6S"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        60
      ],
      "id": "7d7e3dbb-4917-4269-87a6-94df29fbed04",
      "name": "Google Drive File Updated",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cohwIhqqdFSbrctz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d1c7506-0cdb-416d-9785-e10261366cdc",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -40,
        -40
      ],
      "id": "877a21a4-7259-48ee-a697-8a7e43c65257",
      "name": "File Id"
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.\"{{ $json.file_id }}\""
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        180,
        -40
      ],
      "id": "821b9810-a87d-4e43-a238-a24c13d01d82",
      "name": "Delete the file from Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "XIfP6jCMr2bqShw3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('File Id').all()[0].json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain",
              "slidesToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        400,
        -40
      ],
      "id": "bb83f68f-839f-46ab-b98d-3199b8d09d60",
      "name": "Download the file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "cohwIhqqdFSbrctz",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        620,
        -40
      ],
      "id": "09de34fc-5205-4b51-b3c6-fce59a1c722d",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        840,
        -40
      ],
      "id": "a0313408-5bd1-42e6-b590-e132cfe6ea23",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "XIfP6jCMr2bqShw3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        200
      ],
      "id": "048b108a-c39c-4e47-88f9-f3aae5a9001f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "ic1Ub2BxvmM8z98T",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        980,
        180
      ],
      "id": "150220d6-6a70-4383-9fc3-47b60972ab52",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1000,
        340
      ],
      "id": "d5f126ce-e8a1-47ae-818d-e2116a59d7a9",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -440,
        -860
      ],
      "id": "9e7962be-4662-4581-b7ad-f709377949b3",
      "name": "Workflow Input Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=You are a helpful assistant responsible for managing and retrieving meeting notes. Your communication should be clear, concise, and professional. Today is {{ $now.format('DDDD TTT') }}.\n\nMeeting Notes Structure:\n\nMeeting notes include the following key details:\n\nMeeting Title: The name or purpose of the meeting.\n\nDate: The date the meeting occurred.\n\nAttendees: A list of participants in the meeting.\n\nKey Points: Important topics or decisions discussed.\n\nAction Items: Tasks or follow-ups assigned during the meeting.\n\nNotes: Additional details or context about the meeting.\n\nAvailable Tools:\n\nSearch Meeting Notes: Use this tool to retrieve meeting notes from the vector store. Provide clear and specific search terms to ensure accurate results.\n\nImportant Notes:\n\nAlways verify the relevance and accuracy of the meeting notes you retrieve.\n\nIf you encounter an issue (e.g., unclear search terms, missing information, or tool failure), notify Chris immediately and provide details about the problem.\n\nIf you notice incomplete or unclear meeting notes, bring them to Chris's attention so they can be updated or clarified."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        200,
        -800
      ],
      "id": "0ee2b05c-1af1-457f-9dd2-ec21a2d8a019",
      "name": "Meeting Assistant AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        -560
      ],
      "id": "86236eee-759e-4b26-babf-94eb5db64806",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ic1Ub2BxvmM8z98T",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "document"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        520,
        -620
      ],
      "id": "c8f377df-a2de-4a27-8b68-426b3333f50c",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        300,
        -440
      ],
      "id": "7dcd965c-d6b3-4b95-82ca-eabb4fee8dcb",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "XIfP6jCMr2bqShw3",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        -400
      ],
      "id": "68b142bb-c24f-489f-86d9-afb6a0f11210",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "ic1Ub2BxvmM8z98T",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        -260
      ],
      "id": "e1aa6113-5429-4621-ad61-ccc30cc85975",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "ic1Ub2BxvmM8z98T",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "File Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "File Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Id": {
      "main": [
        [
          {
            "node": "Delete the file from Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete the file from Supabase": {
      "main": [
        [
          {
            "node": "Download the file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download the file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Meeting Assistant AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "Meeting Assistant AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "Meeting Assistant AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Meeting Assistant AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "90079b77-64a8-4db4-86fa-c26c54cd15fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "69747acae84976d25ebd659310b7debd66bef40347f13a2ce9c0b7de23556251"
  },
  "id": "aUkpWpPGKNRzeGfI",
  "tags": []
}